select {
    width: 700px;
    height: 33px;
}

.add-product-container {
    margin-bottom: 5px;
}

#user-product-selection, #all-recommendations, #random-recommendations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#user-product-selection div, #all-recommendations div , #random-recommendations div{
    width: 19%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 2px;
}

#get-recommendations {
    color: white;
    background-color: dimgrey;
}
