<!doctype html>

<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body class="container-fluid">
        <div class="jumbotron jumbotron-fluid header-container">
            <div class="container-fluid">
                <h1 class="display-4">Amazon Product Recommender System</h1>
                <p class="lead">Samantha Ng</p>
            </div>
        </div>

        <h3>Select products you like!</h3>
        <p>Select up to 10 products from the drop downlist.
           Click "Add Product" after selecting EACH product.
        </p>

        <div>
            <h5>Kitchen and Dining</h5>
            <div class="add-product-container">
                <button id="add-kitchen-product-btn" type="button" class="btn btn-warning">Add Product</button>
                
                <select name="kitchen-products" id="kitchen-product-list">
                    {% for product in global_product_catalog['kitchen'] %}
                    <option value="{{ product['id'] }}" data-imgurl="{{product['imgurl']}}"> 
                        {{ product["name"] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <h5>Vacuum</h5>
            <div class="add-product-container">
                <button id="add-vacuum-product-btn" type="button" class="btn btn-warning">Add Product</button>
                <select name="vacuum-products" id="vacuum-product-list">
                    {% for product in global_product_catalog['vacuum'] %}
                    <option value="{{ product['id'] }}" data-imgurl="{{product['imgurl']}}"> 
                        {{ product["name"] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <h5>Storage</h5>
            <div class="add-product-container">
                <button id="add-storage-product-btn" type="button" class="btn btn-warning">Add Product</button>    
                <select name="storage-products" id="storage-product-list">
                    {% for product in global_product_catalog['storage'] %}
                    <option value="{{ product['id'] }}" data-imgurl="{{product['imgurl']}}"> 
                        {{ product["name"] }}
                    </option>
                    {% endfor %}
                </select>
                
            </div>
            
            <h5>Bath</h5>
            <div class="add-product-container">
                <button id="add-bath-product-btn" type="button" class="btn btn-warning">Add Product</button>
                <select name="bath-products" id="bath-product-list">
                    {% for product in global_product_catalog['bath'] %}
                    <option value="{{ product['id'] }}" data-imgurl="{{product['imgurl']}}"> 
                        {{ product["name"] }}
                    </option>
                    {% endfor %}
                </select>
                
            </div>
        </div>

        <div id='user-product-selection' class="container-fluid">
        </div>
            
        <ul id="selected-products-list">
        </ul>

        <button id="get-recommendations" type="button" class="btn btn-secondary btn-lg btn-block">Get Recommendations</button>
        
        <!-- <h3>Recommendations</h3> -->
        <div class="all-recommendations-header"></div>

        <div id="all-recommendations" class="container-fluid">
        </div>

        <script src="{{url_for('static', filename='display-product-list.js')}}"></script>
        
        <!-- <h3>10 Random Products</h3> -->

        <div class="random-recommendations-header"></div>
        <div id="random-recommendations" class="container-fluid">
        </div>

    </body>

</html>